<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết bài viết</title>
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <a href="/blogs" class="btn btn-secondary">Quay lại</a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Xóa blog</button>
        <h1 id="post-title" th:text="${blog.title}"></h1>
        <p class="text-muted" id="post-date">Ngày đăng: <span th:text="${#temporals.format(blog.createdAt, 'dd/MM/yyyy')}"></span></p>
        <p id="post-content" th:text="${blog.content}"></p>

        <h3>Bình luận</h3>
        <div id="comment-list">
            <!-- Danh sách bình luận -->
        </div>

        <div class="mt-3">
            <textarea id="comment-content" class="form-control" placeholder="Viết bình luận..."></textarea>
            <button class="btn btn-primary mt-2">Gửi</button>
        </div>
    </div>
    <!-- Modal Delete -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xóa bài viết</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc muốn xóa bài này không?</p>
                        <small style="color: red; font-style: italic">Lưu ý hành động này không thể hoàn tác!</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <a role="button" class="btn btn-danger" th:href="@{/blogs/{id}/delete(id = ${blog.id})}">Xác nhận</a>
                    </div>
                </div>
            </div>
        </div>
    <script src="/vendors/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jquery.min.js"></script>
</body>
</html>